body {
  background-color: rgb(50, 50, 50);
}

.brand-color {
  color: rgb(0, 255, 0);
}

.bg-brand {
  background-color: rgb(0, 145, 0);

  &:hover {
      background-color: rgb(0, 110, 0);

  }
}

.card-img-fixed {
  height: 80px;
  min-height: 100%;
  object-fit: contain;
  background: radial-gradient(circle,rgb(46, 46, 46) 0%, rgb(48, 48, 48) 100%);
}